// Footer
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

// Footer
footer.page-footer.font-small.mdb-color.lighten-3.pt-4
  // Footer Elements
  .container
    // Grid row
    .row
      // Grid column
      .col-lg-2.col-md-12.mb-4
        // Image
        .view.overlay.z-depth-1-half
          img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).webp' alt='')
          a(href='')
            .mask.rgba-white-light
      // Grid column
      // Grid column
      .col-lg-2.col-md-6.mb-4
        // Image
        .view.overlay.z-depth-1-half
          img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).webp' alt='')
          a(href='')
            .mask.rgba-white-light
      // Grid column
      // Grid column
      .col-lg-2.col-md-6.mb-4
        // Image
        .view.overlay.z-depth-1-half
          img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).webp' alt='')
          a(href='')
            .mask.rgba-white-light
      // Grid column
      // Grid column
      .col-lg-2.col-md-12.mb-4
        // Image
        .view.overlay.z-depth-1-half
          img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).webp' alt='')
          a(href='')
            .mask.rgba-white-light
      // Grid column
      // Grid column
      .col-lg-2.col-md-6.mb-4
        // Image
        .view.overlay.z-depth-1-half
          img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).webp' alt='')
          a(href='')
            .mask.rgba-white-light
      // Grid column
      // Grid column
      .col-lg-2.col-md-6.mb-4
        // Image
        .view.overlay.z-depth-1-half
          img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).webp' alt='')
          a(href='')
            .mask.rgba-white-dark
      // Grid column
    // Grid row
  // Footer Elements
  // Copyright
  .footer-copyright.text-center.py-3
    | &copy; 2020 Copyright:
    a(href='/')  MDBootstrap.com
  // Copyright
// Footer
